@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}


/* main */
#container {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}